img {
	max-height: 200px;
	max-width: 500px;
}

.outerDiv {
	border-style: dashed;
	padding-top: 20px;
	padding-bottom: 20px;
	position: relative;
	left: 50%;
	transform: translate(-50%);
	width: 50%;
	margin-top: 10px;
	margin-bottom: 20px;
}

h2 {
	margin-bottom: 10px;
}
